body{

  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


.btn-register {
    #background-color:;
}

.btn-entrar {
    background-color: #FFA74E;

}

.navbar-light .navbar-nav .nav-link {
    color: red;
}

.prueba-nav{
  color:white;
}