.preguntasDetalleContainerBtns {
    float: right;
}
.rowPreguntaEditBtns {
    width: 100%;
    height: 20px;
}

.preguntaDetalleContainerToggles {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hrDetallePregunta {
    margin: 0px;
    width: 100%;
    border-color: grey;
    border-width: 2px;
}

.titlePreguntaDetalle {
    width: 100%;
    margin-top: 15px;
    color: #0c4270;
}

.preguntaDetallep {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
}
.titlePreguntaDetalleRespuesta {
    width: 100%;
    color: #0c4270;
}

.preguntaDetalleSpan {
    margin-right: 10px;
    color: #0c4270;
}

.preguntaDetalleRowUltimaEdicion {
    margin-right: 10px;
    font-size: 15px;
    float: right;
}

.divrowPreguntaDetalleRowUltimaEdicion {
    width: 100%;
    height: 22px;
}

.rowPreguntaDetalle {
    padding-left: 10px;
}
.colPregDetall {
    margin-top: -20px;
}

.preguntaDetalleToggles {
    width: 100%;
    text-align: right;
}

.preguntasDetalleToggle {
    display: inline-block;
    margin-left: 5px;
}

.containerDetallePregunta {
    position: relative;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .preguntaDetalleToggles {
        width: 100%;
        text-align: center;
    }
}

.preguntasEditCancelar {
    margin-left: auto;
    padding: 5px 15px;
    background-color: #b2b2b2;
    border: none;
    color: black;
}

.preguntasEditGuardar {
    margin-left: 10px;
    padding: 5px 15px;
    background-color: #0c4270;
    border: none;
    color: white;
}

.preguntasDetalleEditContainer {
    margin-top: 10px;
}
